venv
.env
# éjecte tous les __pycache__
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

.coverage
htmlcov/
#éject tous les fichiers de configuration
*.cfg
#éject tous les fichiers de log
*.log

*.db


.idea/
.vscode/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
route/

.pytest_cache/