venv
.env
# éjecte tous les __pycache__
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

.coverage
htmlcov/
#éject tous les fichiers de configuration
*.cfg
#éject tous les fichiers de log
*.log

*.db